PORT=3000
MONGO_URI=
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=

# NODEMAILER
MAIL_USER=
MAIL_CLIENT_ID=
MAIL_CLIENT_SECRET=
MAIL_REFRESH=
MAIL_ACCESS=

//GOOGLE_AUTH  WEB3
GOOGLE_CLIENT=
GOOGLE_SECRET=


//AI MODEL API KEYS
GEMINI_API_KEY=
MISTRAL_API_KEY=
GROQ_API_KEY=